<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kjsce.abhiyantriki.abhiyantriki">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="Abhiyantriki 2019">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventsActivity"
            android:label="Events" />
        <activity
            android:name=".ExposActivity"
            android:label="Expos" />
        <activity
            android:name=".SpeakersActivity"
            android:label="Speakers" />
        <activity
            android:name=".SponsorsActivity"
            android:label="Sponsors" />
        <activity
            android:name=".MapActivity"
            android:label="Map" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".ProfileActivity"
            android:label="My Profile" />
        <activity
            android:name=".AboutActivity"
            android:label="About the council" />
        <activity
            android:name=".ParvaahActivity"
            android:label="Parvaah" />
        <activity android:name=".AboutUs" android:label="About Us"></activity>
    </application>

</manifest>