<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kjsce.abhiyantriki.abhiyantriki">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".HomeActivity"
            android:label="Abhiyantriki"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventsActivity"
            android:label="Events" />
        <activity
            android:name=".ExposActivity"
            android:label="Expos" />
        <activity
            android:name=".SpeakersActivity"
            android:label="Speakers" />
        <activity
            android:name=".SponsorsActivity"
            android:label="Sponsors" />
        <activity
            android:name=".ParvaahActivity"
            android:label="Parvaah" />
        <activity
            android:name=".AboutActivity"
            android:label="About the Council" />
        <activity
            android:name=".GetInvolved"
            android:label="Get Involved" />
        <activity
            android:name=".Pubg"
            android:label="PUBG MOBILE" />
        <activity
            android:name=".Laser"
            android:label="LASER TAG" />
        <activity
            android:name=".Drone"
            android:label="DRONE RACING" />
        <activity
            android:name=".Meme"
            android:label="Meme Quest" />
        <activity
            android:name=".Fifa"
            android:label="FIFA MANAGER" />
        <activity
            android:name=".CS"
            android:label="COUNTER STRIKE" />
        <activity
            android:name=".CastleMath"
            android:label="CASTLE MATH" />
        <activity
            android:name=".MapActivity"
            android:label="Map" />
        <activity
            android:name=".ReachUs"
            android:label="Reach Us" />
        <activity
            android:name=".ProfileActivity"
            android:label="My Profile" />
        <activity
            android:name=".PreEvents1"
            android:label="Digital Poster Design Contest" />
        <activity
            android:name=".PreEvents2"
            android:label="KJSCE Mumbai Open 2018" />
        <activity
            android:name=".TPP"
            android:label="Technical Paper Presentation" />
        <activity
            android:name=".Technovate"
            android:label="Technovate" />
        <activity
            android:name=".Techquiz"
            android:label="Tech Quiz" />
        <activity
            android:name=".Techhunt"
            android:label="Tech Hunt" />
        <activity
            android:name=".ZEB"
            android:label="Zero Energy Building" />
        <activity
            android:name=".Ideate"
            android:label="Defeating The Mishaps" />
        <activity
            android:name=".Ideate2"
            android:label="Reversing Global Warming" />
        <activity android:name=".AnimationScreen1" />
        <activity android:name=".AnimationScreen2"></activity>
    </application>

</manifest>